body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 0;
    background: linear-gradient( to right, #fad0c4, #ffd1ff) ;
    font-size: x-large;
    border-radius: 100px;

}

.content {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    
}

h1 {
    color: black;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    
    
}

h2{
    background: linear-gradient( to right, #a1c4fd, #c2e9fb) ;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
       
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: lighter;
    font-style: normal;
    color: black;
    border: 50px;
}

input[type="radio"] {
    display: none;
}

.page {
    display: none;
}

input[type="radio"]:nth-of-type(1):checked ~ .page:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .page:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .page:nth-of-type(3),
input[type="radio"]:nth-of-type(4):checked ~ .page:nth-of-type(4),
input[type="radio"]:nth-of-type(5):checked ~ .page:nth-of-type(5),
input[type="radio"]:nth-of-type(6):checked ~ .page:nth-of-type(6) {
    display: block;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

label:hover {
    background-color:rgb(4, 48, 62);
}

#content-1 .prev, #content-6 .next {
    visibility: hidden;
}

